/*ANIMATIONS*/
@keyframes slideUp {
    0%   {bottom: -300px;}
    100% {bottom: 0px;}
}
@keyframes slideLeft {
    0%   {right: -300px;}
    100% {right: 0px;}
}
@keyframes slideRight {
    0%   {left: -300px;}
    100% {left: 0px;}
}
@keyframes slideDown {
    0%   {bottom: -300px;}
    100% {bottom: 0px;}
}
@keyframes fadeIn {
    0%   {opacity: 1;}
	10%  {opacity: 0;}
	20%  {opacity: 1;}
	90%  {opacity: 0;}
    100% {opacity: 1;}
}
/*---------------------------------------*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    		box-sizing: border-box;
}

html, body {
	margin: 0;
	width: 100%;
	padding: 0;
}
.s-slide{
	width: 100%;
	height: 400px;
	background-color: #e8e8e8;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}
.s-left, .s-right {
	float: left;
	text-align: center;
}
.s-left{
	width: 60%;
	color: white;
}
.info{
	text-align: center;
	margin-bottom: 30px;
}
.info > p{
	margin: 0px;
}
.info > h3{
	margin-bottom: 0px;
}

.s-right {
	width: 40%;
	height: 100%;
}
svg {
	width: 100%;
}

.s-title > h3{
	margin-top: 50px;
	font-size: 2.0em;
	margin: 0;
}
.s-content {
	margin-top: 20px;
	width: 100%;
	text-align: left;
}


.owl-dots {
	position: fixed;
	top: 350px;
	left: 50%;
}
	

.btn {
	color: white;
	background-color: #85b03d;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	cursor: pointer;
}

.btn-lg{
	padding: 20px 10px;
		width: 100%;
	max-width: 250px;
	margin: 15px auto;
	line-height: 50px;
}

.btn-sm{
	font-size: 1.0em;
	width: 30%;
	max-width: 150px;
	height: 40px;
}

.btn-active, .btn:hover {
	background-color: white;
	color: #6fa12f;
}

button {
	border: none;
}
a:link, a:visited, a:active, a:hover {
	text-decoration: none;
}

/*
.screen {
	position: relative;
	animation-name: slideUp;
	animation-duration: 4s;
}

.s-title {
	text-align: left;
	position: relative;
	animation-name: slideLeft;
	animation-duration: 2s;
}
.s-content {
	position: relative;
	animation-name: fadeIn;
	animation-duration: 3s;
}

*/

@media screen and (max-width: 650px) {
	.owl-dots {
		position: inherit;
		top: inherit;
		left: inherit;
	}
	.s-slide {
		height: inherit;
	}
	.s-left, .s-right {
		width: 100%;
		display: block;
		padding: 0px;
		margin: 0px;
	}
	/*.screen{
		animation-name: slideRight;
	}*/
	.s-content, .s-title > p {
		text-align: center;
	}
	svg {
		height: 100%;
	}
}